<div class="header-top">

    <div class="container">
        <div class="row align-items-center ">
            <div class="col-4">
                <div class="header-logo">
                    <a href="index.html"><img src="{{ asset('images/logo-white.png') }}" alt="Logo" /></a>
                </div>
            </div>
            <div class="col-8">
                <div class="mini-menu">
                    <ul>
                        {#<li class="d-block d-md-none">
                            <div class="dropdown dropdown-currency">
                                <a href="#" class="btn btn-text-inherit btn-interactive" id="dropdownMobileSetting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cogs"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMobileSetting">
                                    <div class="dropdown-menu-inner">
                                        <a class="dropdown-item active" href="#">USD - Dollar</a>
                                        <a class="dropdown-item" href="#">GBP - Pound</a>
                                        <a class="dropdown-item" href="#">EUR - Euro</a>
                                        <a class="dropdown-item" href="#">JPY - Yen</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item active" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/260-united-kingdom.png" alt="image" /></span> English</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/013-italy.png" alt="image" /></span> Italiano</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/063-japan.png" alt="image" /></span> 日本語</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/162-germany.png" alt="image" /></span> Deutsch</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/118-malasya.png" alt="image" /></span> Bahasa Malaysia</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/238-thailand.png" alt="image" /></span> ภาษาไทย</a>
                                    </div>
                                </div>
                            </div>
                        </li>#}
                        {#<li class="d-none d-md-block">
                            <div class="dropdown dropdown-currency">
                                <a href="#" class="btn btn-text-inherit btn-interactive" id="dropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    USD - dollar
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCurrency">
                                    <div class="dropdown-menu-inner">
                                        <a class="dropdown-item active" href="#">USD - Dollar</a>
                                        <a class="dropdown-item" href="#">GBP - Pound</a>
                                        <a class="dropdown-item" href="#">EUR - Euro</a>
                                        <a class="dropdown-item" href="#">JPY - Yen</a>
                                    </div>
                                </div>
                            </div>
                        </li>#}
                        {#<li class="d-none d-md-block">
                            <div class="dropdown dropdown-language">
                                <a href="#" class="btn btn-text-inherit btn-interactive" id="dropdownLangauge" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="image"><img src="font-icons/img-flaticon-flags-4/png/260-united-kingdom.png" alt="image" /></span> English
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLangauge">
                                    <div class="dropdown-menu-inner">
                                        <a class="dropdown-item active" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/260-united-kingdom.png" alt="image" /></span> English</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/013-italy.png" alt="image" /></span> Italiano</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/063-japan.png" alt="image" /></span> 日本語</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/162-germany.png" alt="image" /></span> Deutsch</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/118-malasya.png" alt="image" /></span> Bahasa Malaysia</a>
                                        <a class="dropdown-item" href="#"><span class="image"><img src="font-icons/img-flaticon-flags-4/png/238-thailand.png" alt="image" /></span> ภาษาไทย</a>
                                    </div>
                                </div>
                            </div>
                        </li>#}
                        <li class="d-none d-md-block"><a class="btn btn-text-inherit btn-interactive" href="{{ path('app_login') }}">Sign In</a></li>
                        <li class="d-none d-md-block"><a class="btn btn-text-inherit btn-interactive" href="{{ path('app_register') }}">Sign Up</a></li>
                        {#<li>
                            <div class="dropdown dropdown-login dropdown-tab">
                                <a href="#" class="btn btn-text-inherit btn-interactive" id="dropdownSignIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Login / Register
                                </a>
                                <div class="dropdown-menu dropdown-menu-right tab-in-dropdown padding-0" aria-labelledby="dropdownSignIn">

                                    <nav class="menu-horizontal-01">
                                        <ul class="nav external-link-navs">
                                            <li><a class="active" data-toggle="tab" href="#loginTabInDropdown01-01s">Login</a></li>
                                            <li><a data-toggle="tab" href="#loginTabInDropdown01-02s">Register </a></li>
                                            <li class="d-none"><a data-toggle="tab" href="#loginTabInDropdown01-03s">Forgot Password </a></li>
                                        </ul>
                                    </nav>

                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane active padding-0" id="loginTabInDropdown01-01s">

                                            <div class="form-login">

                                                <form>

                                                    <div class="form-inner">

                                                        <div class="login-with-socials">
                                                            <button class="btn btn-facebook btn-block">Login with Facebook</button>
                                                            <button class="btn btn-google btn-block">Login with Google</button>
                                                            <button class="btn btn-twitter btn-block">Login with Twitter</button>
                                                            <button class="btn btn-pinterest btn-block">Login with Pinterest</button>
                                                        </div>

                                                        <div class="text-seperator">
                                                            <span>or</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <input id="login_username" class="form-control" placeholder="Email address / phone number" type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="login_password" class="form-control" placeholder="Password" type="password">
                                                        </div>

                                                        <div class="row gap-5 mt-5">
                                                            <div class="col-12 col-sm-6">
                                                                <div class="custom-control custom-checkbox style-01 mt-5">
                                                                    <input type="checkbox" class="custom-control-input" id="loginForm-02-checkbox-in-tab">
                                                                    <label class="custom-control-label line-145 pt-5" for="loginForm-02-checkbox-in-tab">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 text-right">
                                                                <div class="nav text-right d-inline-block">
                                                                    <a href="#loginTabInDropdown01-03s" class="btn btn-link tab-external-link">Forgot pass?</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="mt-5">
                                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                                        </div>

                                                    </div>

                                                </form>

                                            </div>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in padding-0" id="loginTabInDropdown01-02s">

                                            <div class="form-login">

                                                <form>

                                                    <div class="form-inner">

                                                        <div class="login-with-socials">
                                                            <button class="btn btn-facebook btn-block">Register with Facebook</button>
                                                            <button class="btn btn-google btn-block">Register with Google</button>
                                                            <button class="btn btn-twitter btn-block">Register with Twitter</button>
                                                            <button class="btn btn-pinterest btn-block">Register with Pinterest</button>
                                                        </div>

                                                        <div class="text-seperator">
                                                            <span>or</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <input id="login_username" class="form-control" placeholder="Full name" type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="login_username" class="form-control" placeholder="Email address / phone number" type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="login_password" class="form-control" placeholder="Password" type="password">
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="login_password" class="form-control" placeholder="Confirm password" type="password">
                                                        </div>

                                                        <div class="custom-control custom-checkbox style-01 mt-10">
                                                            <input type="checkbox" class="custom-control-input" id="loginForm-02-01-checkbox-in-tab">
                                                            <label class="custom-control-label line-145 pt-5" for="loginForm-02-01-checkbox-in-tab">By checking here, you are agree with our <a href="#">terms &amp; rules</a>.</label>
                                                        </div>

                                                        <div class="mt-10">
                                                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                                                        </div>

                                                    </div>

                                                </form>

                                            </div>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in padding-0" id="loginTabInDropdown01-03s">
                                            <div class="form-login">

                                                <form>

                                                    <div class="form-inner">

                                                        <h5>Forget your password?</h5>
                                                        <p class="line-145">Don't worry, Resetting your password is easy, just tell us your email adress your registred with us</p>

                                                        <div class="form-group">
                                                            <input id="login_username" class="form-control" placeholder="Email address" type="email">
                                                        </div>

                                                        <div class="mt-10">
                                                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                                                        </div>

                                                        <div class="mt-15">
                                                            Back to
                                                            <div class="nav d-inline-block">
                                                                <a href="#loginTabInDropdown01-01s" class="tab-external-link">Login</a>
                                                            </div>
                                                            or
                                                            <div class="nav d-inline-block">
                                                                <a href="#loginTabInDropdown01-02s" class="tab-external-link">Register</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </li>#}
                        {#<li class="d-lg-none">
                            <button class="btn btn-toggle collapsed" data-toggle="collapse" data-target="#mobileMenuMain"></button>
                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>