<div class="header-nav">

    <div class="container">

        <div class="navbar-wrapper">

            <div class="navbar navbar-expand-lg">

                <div id="mobileMenuMain" class="collapse navbar-collapse">

                    <nav class="main-nav-menu main-menu-nav navbar-arrow">

                        <ul class="main-nav">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="javascript:void(0)">Booking</a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">Hotel</a>
                                        <ul>
                                            <li><a href="page-result-hotel-grid-col-three.html">Hotel result - grid 3 columns</a></li>
                                            <li><a href="page-result-hotel-grid-col-two.html">Hotel result - grid 2 columns</a></li>
                                            <li><a href="page-result-hotel-list-01.html">Hotel result - list 01</a></li>
                                            <li><a href="page-result-hotel-list-02.html">Hotel result - list 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Flight</a>
                                        <ul>
                                            <li><a href="page-result-flight-grid-col-three.html">Flight result - grid 3 columns</a></li>
                                            <li><a href="page-result-flight-grid-col-two.html">Flight result - grid 2 columns</a></li>
                                            <li><a href="page-result-flight-list-01.html">Flight result - list 01</a></li>
                                            <li><a href="page-result-flight-list-02.html">Flight result - list 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Tour</a>
                                        <ul>
                                            <li><a href="page-result-tour-grid-col-three.html">Tour result - grid 3 columns</a></li>
                                            <li><a href="page-result-tour-grid-col-two.html">Tour result - grid 2 columns</a></li>
                                            <li><a href="page-result-tour-list-01.html">Tour result - list 01</a></li>
                                            <li><a href="page-result-tour-list-02.html">Tour result - list 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Car rent</a>
                                        <ul>
                                            <li><a href="page-result-car-rent-grid-col-three.html">Car rent result - grid 3 columns</a></li>
                                            <li><a href="page-result-car-rent-grid-col-two.html">Car rent result - grid 2 columns</a></li>
                                            <li><a href="page-result-car-rent-list-01.html">Car rent result - list 01</a></li>
                                            <li><a href="page-result-car-rent-list-02.html">Car rent result - list 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Train</a>
                                        <ul>
                                            <li><a href="page-result-train-grid-col-three.html">Train result - grid 3 columns</a></li>
                                            <li><a href="page-result-train-grid-col-two.html">Train result - grid 2 columns</a></li>
                                            <li><a href="page-result-train-list-01.html">Train result - list 01</a></li>
                                            <li><a href="page-result-train-list-02.html">Train result - list 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Guide</a>
                                        <ul>
                                            <li><a href="page-result-guide-grid-col-three.html">Guide result - grid 3 columns</a></li>
                                            <li><a href="page-result-guide-grid-col-two.html">Guide result - grid 2 columns</a></li>
                                            <li><a href="page-result-guide-list-01.html">Guide result - list 01</a></li>
                                            <li><a href="page-result-guide-list-02.html">Guide result - list 02</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="page-detail.html">Detail page</a></li>
                                    <li><a href="page-detail-empty-booking.html">Detail page - Empty booking</a></li>
                                    <li><a href="page-payment.html">Payment page</a></li>
                                    <li><a href="page-confirmation.html">Confirm page</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('destinations') }}">Destinations</a></li>
                            <li><a href="javascript:void(0)">Services</a>
                                <ul>
                                    <li><a href="page-service-01.html">Service 01</a></li>
                                    <li><a href="page-service-02.html">Service 02</a></li>
                                    <li><a href="page-service-detail.html">Service detail</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)">Blog</a>
                                <ul>
                                    <li><a href="blog-01.html">Blog grid - full width</a></li>
                                    <li><a href="blog-02.html">Blog grid - with sidebar</a></li>
                                    <li><a href="blog-03.html">Blog horizontal - with sidebar</a></li>
                                    <li><a href="blog-single-01.html">Blog detail - full width</a></li>
                                    <li><a href="blog-single-02.html">Blog detail - with sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)">Pages</a>
                                <ul>
                                    <li><a href="page-about.html">About us</a></li>
                                    <li><a href="page-faq.html">FAQ</a></li>
                                    <li><a href="page-static-page.html">Static page</a></li>
                                    <li><a href="page-error-404.html">Error 404 page</a></li>
                                    <li>
                                        <a href="dashboard.html">Dashboard</a>
                                        <ul>
                                            <li><a href="dashboard-edit-profile.html">Dashboard - edit profile</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Shortcode</a>
                                        <ul>
                                            <li><a href="shortcode-typography.html">Typography</a></li>
                                            <li><a href="shortcode-element.html">Element</a></li>
                                            <li><a href="shortcode-component.html">Component</a></li>
                                            <li><a href="shortcode-layout-fullwidth.html">Layout Fullwidth</a></li>
                                            <li><a href="shortcode-layout-left-sidebar.html">Layout Left Sidebar</a></li>
                                            <li><a href="shortcode-layout-right-sidebar.html">Layout Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{{ path('contact') }}">Contact us</a></li>

                        </ul>

                    </nav><!--/.nav-collapse -->

                </div>

                <div class="navbar-phone d-none d-lg-block">
                    <i class="material-icons">phone</i> Hotline: +66 74 665 855
                </div>

            </div>

        </div>

    </div>

</div>