<div class="page-title-02 bg-primary">
    <div class="container">
        <h2>All destinations</h2>
        <p class="font-lg">Throwing consider dwelling bachelor joy her proposal laughter.</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Destinations</li>
            </ol>
        </nav>
    </div>
</div>