<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resposnive HTML Template for Travel Booking Based on Bootstrap 4.x.x"/>
    <meta name="keywords"
          content="accommodation, booking, holiday, hostel, hotel, motel, reservation, resort, tour, tourism, travel, travel agency, trip, vacation, flight, guide, journey, rental, destination, travel booking"/>
    <meta name="author" content="Walid Hmissi">
    <meta name="author" content="Seif Eddine Belaid">
    <meta name="author" content="Wajdi Makhlouf">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Font face -->
    <link href="https://fonts.googleapis.com/css?family=Aleo|Roboto&display=swap" rel="stylesheet">
    <!-- Font face -->

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
            integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"
            integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous"></script>
    <![endif]-->
</head>
<body class="with-waypoint-sticky">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
