<section>

    <div class="container">

        <div class="section-title text-center">

            <h2>What people say about us</h2>

        </div>

        <div class="row equal-height cols-1 cols-md-3 gap-20 gap-xl-30">

            <div class="col">
                <div class="testimonial-grid">
                    <div class="testimonial-header">
                        <h6>Ange Ermolova</h6>
                        <span class="text-muted spacing-1">From Bangkok, Thailand</span>
                    </div>
                    <div class="testimonial-body">
                        <p>Real sold my in call. Invitation on an advantages collecting. Had sister see wooded
                            favour income has. </p>
                    </div>
                    <div class="testimonial-footer">
                        <div class="rating-item rating-sm rating-inline">
                            <div class="rating-icons">
                                <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated"
                                       data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly
                                       value="4.0"/>
                            </div>
                            <p class="rating-text font500 text-muted font-10 ml-5">8/10</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="testimonial-grid">
                    <div class="testimonial-header">
                        <h6>Christine Gateau</h6>
                        <span class="text-muted spacing-1">From Paris, France</span>
                    </div>
                    <div class="testimonial-body">
                        <p>Greatly hearted has who margaret drawings repeated recurred exercise.</p>
                    </div>
                    <div class="testimonial-footer">
                        <div class="rating-item rating-sm rating-inline">
                            <div class="rating-icons">
                                <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated"
                                       data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly
                                       value="3.5"/>
                            </div>
                            <p class="rating-text font500 text-muted font-10 ml-5">7/10</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="testimonial-grid">
                    <div class="testimonial-header">
                        <h6>Suttira Ketkaew</h6>
                        <span class="text-muted spacing-1">From Rome, Italy</span>
                    </div>
                    <div class="testimonial-body">
                        <p>Extremely eagerness principle estimable cannot going laughing may you about water
                            defer.</p>
                    </div>
                    <div class="testimonial-footer">
                        <div class="rating-item rating-sm rating-inline">
                            <div class="rating-icons">
                                <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated"
                                       data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly
                                       value="4.5"/>
                            </div>
                            <p class="rating-text font500 text-muted font-10 ml-5">9/10</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>