<div class="bg-image cta-promo-list" data-white-overlay="3"
     style="background-image:url({{ asset('images/image-bg-on-left/01.jpg') }}); background-position: center bottom;">

    <div class="container position-relative">

        <div class="row">

            <div class="col-12 col-md-8 col-lg-6">

                <h2 class="heading-title">Why <span class="text-primary text-underline font-italic">Booking</span>
                    with Us?</h2>

                <p class="font-lg">Excited him now natural saw passage offices you minuter. At by asked being court
                    hopes. Farther so friends am to detract.</p>

                <ul class="list-icon-absolute mt-30">

                    <li>
                            <span class="icon-font text-primary"><i
                                        class="material-icons-outlined">card_giftcard</i></span>
                        <h5 class="text-capitalize">We find better Deals</h5>
                        <p>Winter can indeed letter oppose way change is improve my charmed exposed adapted
                            demands.</p>
                    </li>

                    <li>
                            <span class="icon-font text-primary"><i
                                        class="material-icons-outlined">thumb_up_alt</i></span>
                        <h5 class="text-capitalize">Best Price Guaranteed</h5>
                        <p>Received had end prepared off man branched is money so large decay voice there.</p>
                    </li>

                    <li>
                        <span class="icon-font text-primary"><i
                                    class="material-icons-outlined">favorite_border</i></span>
                        <h5 class="text-capitalize">Travellers Love Us</h5>
                        <p>Preserved be mr cordially incommode as doors quick child an point style off why him.</p>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</div>