<div class="page-title-02 bg-primary text-center">
    <div class="container">
        <h2>Contact Us</h2>
        <p class="font-lg">Drop us your lovely message.</p>
        <nav aria-label="breadcrumb" style="padding-left: 400px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>