<div class="page-wrapper bg-light pv-80">

    <div class="container">

        <div class="row gap-40">

            <div class="col-12 col-lg-8">

                <div class="section-title">
                    <h3>Get in Touch</h3>
                </div>

                <form id="contact-form" method="post" action="http://crenoveative.com/envato/travel-material/contact.php">

                    <div class="contact-successful-messages"></div>

                    <div class="contact-inner">

                        <div class="row gap-20 gap-lg-30 mb-20">
                            <div class="col-6">
                                <div class="form-group mb-0">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your full name *" required="required" data-error="Name is required.">
                                    <div class="help-block with-errors text-danger"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-0">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors text-danger"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-0">
                                    <label for="form_phone">Phone</label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                    <div class="help-block with-errors text-danger"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-0">
                                    <label for="form_subject">Subject *</label>
                                    <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Subject is required *" required="required" data-error="Subject is required.">
                                    <div class="help-block with-errors text-danger"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="6" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors text-danger"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-send">Send message</button>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

            <div class="col-12 col-lg-4">

                <div class="section-title">
                    <h3>Contact Details</h3>
                </div>

                <ul class="contact-list">

                    <li class="clearfix">
                        <div class="icon-font"><i class="bx bx-map-pin"></i></div>
                        <div class="content">
                            <h6>Location:</h6>
                            <p>545, Marina Rd., <br/>Mohammed Bin Rashid Boulevard, <br/>Dubai 123234</p>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="icon-font"><i class="bx bx-phone-call"></i></div>
                        <div class="content">
                            <h6>Line Phone:</h6>
                            <p>+254 20 271043</p>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="icon-font"><i class="bx bx-mobile"></i></div>
                        <div class="content">
                            <h6>Mobile Phone:</h6>
                            <p>+254 722 225591</p>
                        </div>

                    </li>

                    <li class="clearfix">
                        <div class="icon-font"><i class="bx bx-envelope"></i></div>
                        <div class="content">
                            <h6>Email:</h6>
                            <p><a href="#">sales@roomspoint.com</a></p>
                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</div>