<!-- start Footer Wrapper -->
<footer class="footer-wrapper scrollspy-stopper">

    <div class="container">
        <div class="row gap-40 gap-md-50">
            <div class="col-12 col-lg-6">
                <div class="col-inner">
                    <h4 class="footer-title">About us</h4>
                    <p class="font-lg line-145">Throwing consider dwelling bachelor joy her proposal laughter. Raptures
                        returned disposed one entirely... <a href="#">read more</a></p>
                    <p class="footer-address mt-20">11/87, Santisuk Road, T. Sabarang, <br/>A.Muang,Pattani 94000 <br/>
                    </p>
                    <span class="d-block footer-phone text-white"><i
                                class="material-icons">phone</i> +66 74 665 855</span>
                    <a href="#">support@website.com</a>

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="col-inner">
                    <div class="row gap-40 gap-md-20">
                        <div class="col-12 col-md-5">
                            <div class="col-inner mt-15-sm">
                                <h5 class="footer-title">Quick Menu</h5>

                                <ul class="footer-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-12 col-md-7">
                            <div class="col-inner mt-25-sm">
                                <h5 class="footer-title">Newsletter</h5>
                                <p>Subsribe to get our latest updates and oeffers</p>
                                <form class="footer-newsletter">

                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email address">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button">Subsribe</button>
                                        </div>
                                    </div>

                                </form>

                                <h5 class="footer-title">Socials</h5>

                                <div class="footer-socials">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus "></i></a>
                                    <a href="#"><i class="fab fa-codepen"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-footer">

        <div class="container">

            <p class="footer-copy-right">&#169; 2019 - MyCompany Ltd., All Rights Reserved.</p>

        </div>

    </div>

</footer>
<!-- start Footer Wrapper -->